{% extends 'header.html' %}
{% block content %}
    <div class="container custom-container" style="max-width: calc(100% - 30px);">
        <div class="pl-1 mb-5">
            <div class="question-header mb-4">Student's Profile</div>
            <h5 class="pl-sm-1 pl-lg-5 ">Name : <span class="ml-md-1" id="studentname">{student name}</span></h5>
            <h5 class="pl-sm-1 pl-lg-5  mt-4">Email : <span class="ml-md-1" id="studentemail">{student email}</span>
            </h5>
            <h5 class="pl-sm-1 pl-lg-5  mt-4">Phone number : <span class="ml-md-1"
                                                                   id="studentphone">{student phone}</span></h5>
        </div>
        <div class="pl-1 mb-5">
            <div class="pl-1 mb-5">
                <div class="question-header mb-4">Sessions</div>
            </div>
            <div class="d-flex justify-content-center">
                <table class="table table-responsive-lg" id="previoussessions">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Session</th>
                        <th>Teacher</th>
                        <th>Duration</th>
                        <th>Paid Amount</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody style="font-weight: 500;" class="text-muted" id="previoussessionhistory">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pl-1 mb-5">
            <div class="question-header mb-4">Account</div>
            <div class="mt-5">
                <h5 class="pl-5">Total sessions : <span class="ml-3" id="studenttotalsession">{total sessions}</span>
                </h5>
                <h5 class="pl-5 mt-4">Current Balance in AED : <span class="ml-3"
                                                                     id="studentcurbalance">{current balance}</span>
                </h5>
                <h5 class="pl-5 mt-4">Total paid in AED : <span class="ml-3" id="studenttotalpaid">{total paid}</span>
                </h5>
                <div class="row pl-3 pt-3">
                    <div><h5 class="mt-4 pl-5">Add Balance : </h5></div>
                    <div class="pt-3 px-4"><input type="number" id="addbalanceamount" class="form-control"></div>
                    <div class="pt-3 px-4">
                        <button class="btn btn-success" onclick='fnAddBalance()'>Add Balance</button>
                    </div>
                </div>
                <div class="row pl-3 pt-3">
                    <div><h5 class="mt-4 pl-5">Remove Balance : </h5></div>
                    <div class="pt-3 px-4"><input type="number" class="form-control" id="removebalanceamount"></div>
                    <div class="pt-3 px-4">
                        <button class="btn btn-danger form-control" onclick='fnRemoveBalance()'>Remove Balance</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center">
                <button class="btn btn-danger font-weight-bolder" onclick='fnRemoveUser()'>Remove User
                </button>
        </div>
    </div>

    <script>
        displayData = {{ info |tojson }}
            console.log(displayData);
        $(function () {
            renderTable();
            $("#previoussessions").DataTable();
            $("#studentname").text(displayData['Name']);
            $("#studentemail").text(displayData['email']);
            $("#studenttotalsession").text(displayData['total_sessions']);
            $("#studentphone").text(displayData['phone number']);
            $("#studentcurbalance").text(displayData['cur_balance']);
            $("#studenttotalpaid").text(displayData['total_paid']);
        })
        renderTable = function () {
            sessionlist = displayData['session_list'];
            if (sessionlist.length > 0) {
                for (let i = 0; i < sessionlist.length; i++) {
                    let session = sessionlist[i];
                    $("#previoussessionhistory").append(
                        '<tr><td>' +
                        session['date'] +
                        '</td><td>' +
                        '<a href="/session-detail/' +
                        session['Session_ID'] +
                        '" class="text-decoration-none">' +
                        session['Session_ID'] +
                        '</a>' +
                        '</td><td>' +
                        '<a href="/admin/teacher-info/' +
                        session['teacher_id'] +
                        '" class="text-decoration-none">' +
                        session['Teacher Name'] +
                        '</a>' +
                        '</td><td>' +
                        session['Duration'] +
                        '</td><td>' +
                        session['Amount'] +
                        '</td><td>' +
                        session['rating'] +
                        '</td></tr>'
                    )
                }
            }
        }

        function fnAddBalance() {
            var amount = parseFloat($("#addbalanceamount").val());
            var curBalance = parseFloat(displayData['cur_balance']);
            if (amount <= 0 || $("#addbalanceamount").val() == '') {
                alertInfo("Enter correct amount!");
                return;
            }
            ajaxUrl = '/admin/balance-manage/' + displayData['student id'];
            param = {
                'job': 'student',
                'manageMethod': 'addBalance',
                'amount': amount
            }
            sendAjax(ajaxUrl, param);
        }

        function fnRemoveBalance() {
            var amount = parseFloat($("#removebalanceamount").val());
            var curBalance = parseFloat(displayData['cur_balance']);
            if (amount <= 0 || $("#removebalanceamount").val() == '') {
                alertInfo("Enter correct amount!");
                return;
            }
            if (amount > curBalance) {
                alertInfo("Amount should be less than current balance");
                return;
            }
            ajaxUrl = '/admin/balance-manage/' + displayData['student id'];
            param = {
                'job': 'student',
                'manageMethod': "removeBalance",
                'amount': amount
            }
            sendAjax(ajaxUrl, param);
        }

        function sendAjax(ajaxUrl, param) {
            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                dataType: 'json',
                data: {'data': JSON.stringify(param)},
                success: function (res) {
                    if (res['success'] == true) {
                        alertSuccess("Operating Successed!")
                    } else {
                        alertError(res['msg'])
                    }
                },
                error: function () {
                    alertError("Operating Failed")
                }
            })
        }

        function fnRemoveUser() {
            ajaxUrl = '/admin/remove-one/' + displayData['student id'];
            param = {'id': displayData['student id'], 'job': 'student'}
            sendAjax(ajaxUrl, param);
        }

    </script>
{% endblock %}